.container {
	width: 600px;
	margin: 0 auto;
}

@media (max-width: 961px) {
	/*ipad*/
	.container {
		width: 500px;
	}
}

@media (max-width: 400px) {
	/*iphone*/
	.container {
		3width: 350px;
	}
}


body {
	background-color: #6096B4;
	font-family: 'Merriweather', serif;
}

h1 {
	color: #ECF2FF;
	margin-top: 0;
	front-size: 100px;
	

}

h1, h2, h3 {
	font-family: 'Changa One', cursive;
}

h2 {
	color: #19A7CE;
	margin-bottom: 12px;
	margin-top: 0;
	font-weight: 100;
}

p {
	margin: 0;
}
.card{
	background-color: #BDCDD6;
	padding: 20px;
	margin-bottom: 25px;
	border-radius: 12px;
	text-align: center;
}

a {
	color: #146C94;
	text-decoration: none;
	font-weight: 1000;
}

img {
	height: 150px;
	margin-top: 12px;
	border-radius: 12px;
}